<a href="../" class="content-box">
    <span class="material-symbols-rounded">face</span>
    <span class="material-symbols-rounded icon">arrow_right</span>
    <p>A propos de moi</p>
</a>

<li class="content-box">
    <span class="material-symbols-rounded">memory</span>
    <span class="material-symbols-rounded icon">arrow_right</span>
    <p>Hardware</p>
</li>

<li class="content-box">
    <span class="material-symbols-rounded">feed</span>
    <span class="material-symbols-rounded icon">arrow_right</span>
    <p>News</p>
</li>